<div class="confirmation-container">
    <div class="confirmation-items ">
        <div class="confirmation-header confirmation-item">
            THANK YOU <b>{{ fullName }} </b> FOR SHOPPING AT AMIAMI, 
            <br> YOU YOUR ORDER WITH TOTAL <b>${{ totalPrice }}</b> HAS BEEN SUBMITTED SUCCESSFULLY! 🎉
        </div>
        <div class="confirmation-item">
                <a routerLink="/">
                    <button type="button" class="btn btn-outline-secondary">Return to store</button>
                </a>
            </div>
    </div>
</div>