<!-- cart is empty -->
<div *ngIf="Figures.length == 0 ; else cartFull"> 
    <div class="empty-cart-message">
        You have not yet added any items to your cart. 
        </div>
        <div class="empty-cart-message">
            Please check our list of figures &nbsp; <a routerLink="/"> HERE </a>
        </div>
</div>
<!-- cart is full -->
<ng-template #cartFull class="cart-container">
    <div class="cart-container">
    <div class="cart-item-details">
        <div *ngFor="let figuresCart of Figures" class="cart-item"> 
            <img class="" src='{{figuresCart.url}}'>
            <div class="cart-panel">
                <div class="product-item-detail">{{figuresCart.name}} <br> ${{figuresCart.price}}</div>
                <div class="product-item-detail"> 
                    <select (change)="CartTotal(figuresCart.id, $event)" style="width: 100px;">
                        <option *ngFor="let value of figuresCount" [selected]="figuresCart.option == value"> {{value}}</option>
                    </select>    
                    <br>
                    <button (click)="removeCart(figuresCart.id)" class="product-item-detail btn btn-primary mt-2">Remove</button> 
                </div>
            </div>
        </div>
        <div class="cart-item"><b>Total Price: ${{ totalPrice }}</b></div>
    </div>
    <div class="form-margin">
        <form class="form-margin" #form="ngForm" (ngSubmit)="onSubmit()">
            <h1> Checkout </h1>
            <!-- all fields are required and error messages will disappear once all fields are valid -->
            <label>Full Name: </label><br />
            <span style="font-size: 10px; color:rgb(251, 116, 116);" [hidden]="form.valid">Full name is required <br> & must be minimum of 5 characters</span><br>
            <input type='text' name='fullName' placeholder="Full Name" required minlength="5" maxlength="10" [(ngModel)]="fullName">
            <br>

            <label class="mt-4">Shipping Address: </label><br/>
            <span style="font-size: 10px; color:rgb(251, 116, 116);" [hidden]="form.valid">Shipping Address is required <br> & must be minimum of 10 characters</span><br>
            <input type='text' name='address' placeholder="Shipping Address" required minlength="10" maxlength="20" [(ngModel)]="address">
            <br>

            <label class="mt-4">Credit Card Number: </label><br/>
            <span style="font-size: 10px; color:rgb(251, 116, 116);" [hidden]="form.valid">Credit Card Number is required <br> & must be exactly of 16 numbers</span><br>
            <input type='number' name='creditCard' placeholder="xxxx-xxxx-xxxx-xxxx" required minlength="16" maxlength="16" [(ngModel)]="creditCard">
            <br>

            <!-- button is only enabled when all fields are filled -->
            <button [disabled]="form.invalid" type='submit' class="btn btn-primary mt-2">SUBMIT</button> 
        </form>
    </div>
    </div>
</ng-template>
